{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
	<h1>About</h1>
	<p>
	  To play, first create a board. You will be able to view this board in your board list. In the board list, select your board.
	</p>
	<p>
	  To challenge, after you have selected your board, click on the player list and choose your player. You will be taken to 
	  the battle board where you will see your board on the left and a board on the right representing theirs. Click on a pin 
	  location to ask your challenger if there is a ship there.
	</p>
{{end}}