{{define "base"}}

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title>{{template "title" .}}</title>
		<link rel='stylesheet' href='/static/css/main.css'>
		<link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
	</head>
	<body>
		<header>
			<h1>Battleship - {{template "title" .}}</h1>
		</header>
		{{if .IsAuthenticated}}
		<nav>
			Logged in as {{.ScreenName}}
		</nav>
		<nav>
			<a href='/board/list'>Boards</a>
			<a href='/player/list'>Active Players</a>
			<a href='/status/battles/list'>Challenges</a>
		</nav>
		{{end}}
		<nav>
			{{if not .IsAuthenticated}}
			<a href='/signup'>Sign Up</a>
			{{end}}
			{{block "accountActions" .}}
			{{if .IsAuthenticated}}
			<form action='/logout' method='POST'>
				<!-- CSRF token //-->
				<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
				<button>Logout</button>
			</form>
			{{end}}
			{{end}}
			{{if not .IsAuthenticated}}
			<a href='/login'>Login</a>
			{{end}}
			<!--<a href='/about'>About</a>//-->
		</nav>
		<main>
			{{with .Flash}}
			<div class='flash'>{{.}}</div>
			{{end}}
			{{template "main" .}}
		</main>
		{{template "footer" .}}
		<script src="/static/js/main.js" type="text/javascript"></script>
	</body>
</html>
{{end}}