{{template "base" .}}

{{define "title"}}New Board{{end}}
{{define "main"}}
<form action='/board/create' method='POST'>
	<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    <div>
        <label>Create Your Board</label>
    </div>
    <div>
        <label>Board name:</label>
        {{with .Form.Errors.Get "boardName"}}
            <label class='error'>{{.}}</label><br/>
        {{end}}
        <input type='text' name='boardName' maxlength=35 size=35 value='{{.Form.Get "boardName"}}'>
    </div>
    <div>
        {{with .Form.Errors.Get "carrier"}}
            <span class='error'>{{.}}</span><br/>
        {{end}}
        {{with .Form.Errors.Get "battleship"}}
            <span class='error'>{{.}}</span><br/>
        {{end}}
        {{with .Form.Errors.Get "cruiser"}}
            <span class='error'>{{.}}</span><br/>
        {{end}}
        {{with .Form.Errors.Get "submarine"}}
            <span class='error'>{{.}}</span><br/>
        {{end}}
        {{with .Form.Errors.Get "destroyer"}}
            <span class='error'>{{.}}</span><br/>
        {{end}}
        <label>Place your ships</label>
        <table border=1>
            <tr>
                <td>
                    <table>
                        <th>Abbreviation</th>
                        <th>Type of Ship</th>
                        <th>Size</th>
                        <tr>
                            <td>C</td>
                            <td>Carrier</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>B</td>
                            <td>Battleship</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>R</td>
                            <td>Cruiser</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>Submarine</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>D</td>
                            <td>Destroyer</td>
                            <td>2</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    Enter a letter representing your ship
                    {{.MainGrid}}
                </td>
            </tr>
        </table>
    </div>
    <div>
        <input type='submit' value='Save board'>
    </div>
</form>
{{end}}