{{template "base" .}}

{{define "title"}}New Board{{end}}
{{define "main"}}
<form action='/board/create' method='POST'>
    {{with .Form}}
    <div>
        <label>Create Your Board</label>
    </div>
    <div>
        <label>Board name:</label>
        {{with .Errors.Get "boardName"}}
            <label class='error'>{{.}}</label><br/>
        {{end}}
        <input type='text' name='boardName' maxlength=35 size=35 value='{{.Get "boardName"}}'>
    </div>
    <div>
        {{with .Errors.Get "carrier"}}
            <span class='error'>{{.}}</span><br/>
        {{end}}
        {{with .Errors.Get "battleship"}}
            <span class='error'>{{.}}</span><br/>
        {{end}}
        {{with .Errors.Get "cruiser"}}
            <span class='error'>{{.}}</span><br/>
        {{end}}
        {{with .Errors.Get "submarine"}}
            <span class='error'>{{.}}</span><br/>
        {{end}}
        {{with .Errors.Get "destroyer"}}
            <span class='error'>{{.}}</span><br/>
        {{end}}
        <label>Place your ships</label>
        <table border=1>
            <tr>
                <td>
                    <table>
                        <th>Abbreviation</th>
                        <th>Type of Ship</th>
                        <th>Size</th>
                        <tr>
                            <td>C</td>
                            <td>Carrier</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>B</td>
                            <td>Battleship</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>R</td>
                            <td>Cruiser</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>Submarine</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>D</td>
                            <td>Destroyer</td>
                            <td>2</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    Enter a letter representing your ship
                    <table>
                    <th>&nbsp;</th>
                    {{- range $col := iterateColumns 10}}
                    <th>{{$col}}</th>
                    {{- end}}
                    {{- range $row := iterateRows 10 1}}
                        <tr>
                            <td>{{$row}}</td>
                        {{- range $col := iterateColumns 10}}
                            <td><input type='text' maxlength=1 size=6 name="shipXY{{$row}}{{$col}}" value=""></td>
                        {{- end}}
                        </tr>
                    {{- end}}
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <input type='submit' value='Save board'>
    </div>
    {{end}}
</form>
{{end}}