{{template "base" .}}

{{define "title"}}View Board{{end}}
{{define "main"}}
    <div>
        <label>Board Title: {{.Board.Title}}</label>
        <table border=1>
            <tr>
                <td>
                    {{.MainGrid}}
                </td>
            </tr>
        </table>
    </div>
</form>
{{end}}