{{template "base" .}}

{{define "title"}}View Board{{end}}
{{define "main"}}
    <div>
        <label>Welcome to The Battle of {{.Battle.Title}}</label>
        <table border=1>
            <tr><td>Your Board</td><tr>
            <tr>
                <td>
                    {{.ChallengerGrid}}
                </td>
            </tr>
            <tr><td>Your Opponent's Board</td><tr>
            <tr>
                <td>
                    <form id='opponentBoard'>
                        {{.OpponentGrid}}
                    </form>
                </td>
            </tr>
        </table>
    </div>
	<script type='text/javascript'>
    function save_checkbox(checkbox_value) {
        console.log(checkbox_value);
        var coX = checkbox_value.slice(6, checkbox_value.length-1)
        var coY = checkbox_value.slice(checkbox_value.length-1)
        if (confirm('Send strike to '+coX+' '+coY+'?')) {
            $.post( '/battle/strike' , 
                { coordX : coX, coordY : coY, csrf_token : "{{.CSRFToken}}", battleID : {{.Battle.ID}} }, 
                function( response ) {
                    console.log(response);
                }
            );
        };
    };
    (function poll() {
		var continuePolling = true;
		var pageData;
		setTimeout(function() {
			$.ajax({
				url: "/status/strikes/{{.Battle.ID}}/{{.ChallengerBoardID}}",
				type: "GET",
				success: function(data) {
					//jsonData = JSON.parse(data);					// don't need to parse, it's already json
					console.log("a list of strikes has been sent..."+data.strikes);
				},
				error: function(request,error) {
					console.log("no change")
				},
				dataType: "json",
				complete: function() { if (continuePolling) { poll(); }},
				timeout: 2000
			})
		}, 5000);
	})();
    $('.striker').click(function() {
        var fieldName = $(this).attr('name');
        var coX = fieldName.slice(6, fieldName.length-1);
        var coY = fieldName.slice(fieldName.length-1);
        if (this.checked && confirm('Send strike to '+coX+' '+coY+'?')) {
            $.ajax({
                type: 'post',
                url: '/battle/strike',
                data: {coordX: coX, coordY: coY, boardID:{{.OpponentBoardID}}, battleID:{{.Battle.ID}}, csrf_token:"{{.CSRFToken}}"},
                success: function(data) {
                    alert('Missile launched successfully...');
                    if ( data.includes('/login') && data.includes('<html>') ) {
                        // If login is in the returned data, redirect the user
                        // This is not the ideal way to do this
                        // - The isauthenticated function should handle the redirection
                        alert('Session is no longer active!\nYou must log in again.\nRedirecting...');
                        response.redirect('/login');
                    }
                    alert('Status: '+data);
                    $('#container').html(data);
                },
                error: function() {
                    alert('Strike failed to send.');
                },
                complete: function() {
                    console.log('Strike has been completed');
                }
            });
        }
    })
	</script>
{{end}}