{{template "base" .}}

{{define "title"}}Your Battles{{end}}

{{define "main"}}
	{{if .Battles}}
		<form name=selectBoard action='/battle/select' method=POST>
		<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
		{{with .Battles}}
		<table>
			<tr>
				<th>View</th>
				<th>Challenger</th>
				<th>Opponent</th>
				<th>Resonded?</th>
				<th>Board Name</th>
				<th>Active</th>
				<th>Result</th>
			</tr>
			{{range .}}
			<tr>
				<td><input type=radio name=battleID value="{{.ID}}"></td>
				<td>{{.Player1ScreenName}}</td>
				<td>{{.Player2ScreenName}}</td>
				<td>{{if not .Player2Accepted}}<input type=button value="Accept">{{else}}Accepted{{end}}</td>
				<td><a href="/board/{{.ID}}">{{.BoardTitle}}</a></td>
				<td>{{if not .Turn}}Yes{{else}}No{{end}}</td>
				<td>In progress|Win|Loss</td>
			</tr>
			{{end}}
		</table>
		</form>
		{{end}}
	{{else}}
		<p>You need to create a board, then select the board and challenge a player.</p>
	{{end}}
	<a href="/board/create">Create a new board</a>
	<script type='text/javascript'>
	$(document).ready(function() { 
		$('input[name=battleID]').change(function(){
    	    $('form').submit();
   		});
  	});
	</script>
{{end}}