{{template "base" .}}

{{define "title"}}Your Battles{{end}}

{{define "main"}}
	{{if .Battles}}
		{{with .Battles}}
		<table>
			<tr>
				<th>View</th>
				<th>Challenger</th>
				<th>Opponent</th>
				<th>Responded?</th>
				<th>Board Name</th>
				<th>Active</th>
				<th>Result</th>
			</tr>
			{{range .}}
			<tr>
				<td>
					{{if ne false .Player2Accepted}}
						<form name=accept{{.ID}} action='/battle/view/{{.ID}}' method=POST>
							<input type='hidden' name='csrf_token' value='{{$.CSRFToken}}'>
							<input type=radio name=battleID value="{{.ID}}" onclick="this.form.submit()">
						</form>
					{{end}}
				</td>
				<td>{{.Player1ScreenName}}</td>
				<td>{{.Player2ScreenName}}</td>
				<td>
					{{if and (ne $.ActiveBoardID 0) (eq false .Player2Accepted)}}
						{{if eq .Player2ID .AuthenticatedPlayerID}}
							<form name=accept{{.ID}} action='/battle/accept' method=POST>
								<input type='hidden' name='csrf_token' value='{{$.CSRFToken}}'>
								<input type='button' name='player2Accepted' value='Accept' onclick="this.form.submit();">
								<input type='hidden' name='battleID' value='{{.ID}}'>
							</form>
						{{else}}
							Not yet :(
						{{end}}
					{{else if eq false .Player2Accepted}}
						<a href="/board/list">Select board first</a>
					{{else}}
						Accepted
					{{end}}
				</td>
				<td><a href="/board/list">{{.ChallengerBoardName}}</a></td>
				<td>{{if not .Turn}}Yes{{else}}No{{end}}</td>
				<td>In progress|Win|Loss</td>
			</tr>
			{{end}}
		</table>
		{{end}}
	{{else}}
		<p>You need to create a board, then select the board and challenge a player.</p>
		<a href="/board/create">Create a new board</a>
	{{end}}
{{end}}