{{template "base" .}}

{{define "title"}}Login{{end}}
{{define "main"}}
<form action='/login' method='POST'>
    {{with .Form}}
        {{with .Errors.Get "generic"}}
            <label class='error'>{{.}}</label><br/>
        {{end}}
        <div>
            <label>Screen Name:</label>
            <input type='text' maxlength=16 size=18 name="screenName" value='{{.Get "screenName"}}'>
            <label>Password:</label>
            <input type='password' name='password' maxlength=35 size=35 value=''>
        </div>
        <div>
            <input type='submit' value='Login'>
        </div>
    {{end}}
</form>
{{end}}