{{template "base" .}}

{{define "title"}}Battleship{{end}}

{{define "main"}}
	{{if .Players}}
		{{with .Players}}
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Logged in?</th>
				<th>In play?</th>
			</tr>
			{{range .}}
			<tr>
				<td>{{.ID}}</td>
				<td>{{.ScreenName}}</td>
				<td>Indicate if user is active</td>
				<td>Indicate if user is playing</td>
			</tr>
			{{end}}
		</table>
		{{end}}
	{{else}}
		<p>Nothing to see just yet</p>
	{{end}}
{{end}}