{{template "base" .}}

{{define "title"}}Your Account{{end}}

{{define "main"}}
<form action='/updatePlayer' method='POST'>
	{{with .Player}}
	<div>
		<label>Screen Name</label>
		<input type=text size=20 name=screenName maxlength=16 value='{{.ScreenName}}'>
		<label>E-mail Address</label>
		<input type=text size=60 name=emailAddress maxlength=55 value='{{.EmailAddress}}'>
		<label>Password (max length 32)</label>
		<input type=password size=36 name=password maxlength=32 value=''>
		<label>Password Confirmation</label>
		<input type=password size=36 name=passwordConf maxlength=32 value=''>
		<input type=submit name="Update Player">
	</div>
	{{end}}
</form>
{{end}}