{{template "base" .}}

{{define "title"}}Logged In Players{{end}}

{{define "main"}}
	{{if .Players}}
		{{with .Players}}
		<table>
			<tr>
				<th>ID</th>
				<th>Screen Name</th>
				<th>E-mail Address</th>
				<th>Logged In?</th>
				<th>In Battle?</th>
			</tr>
			{{range .}}
			<tr>
				<td>{{.ID}}</td>
				<td>{{.ScreenName}}</td>
				<td>{{.EmailAddress}}</td>
				<td>{{.LoggedIn}}</td>
				<td>{{.InBattle}}</td>
			</tr>
			{{end}}
		</table>
		{{end}}
	{{else}}
		<p>Nothing to see just yet</p>
	{{end}}
{{end}}