{{template "base" .}}

{{define "title"}}Logged In Players{{end}}

{{define "main"}}
	{{if .Players}}
		<form name=selectBoard action='/player/challenge' method=POST>
		<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
		{{with .Players}}
		<table>
			<tr>
				<th>Challenge?</th>
				<th>Screen Name</th>
				<th>E-mail Address</th>
				<th>Logged In?</th>
				<th>In Battle?</th>
			</tr>
			{{range .}}
			<tr>
				<td><input type=radio name=userID value={{.ID}}></td>
				<td>{{.ScreenName}}</td>
				<td>{{.EmailAddress}}</td>
				<td>{{.LoggedIn}}</td>
				<td>{{.InBattle}}</td>
			</tr>
			{{end}}
		</table>
		{{end}}
	{{else}}
		<p>Nothing to see just yet</p>
	{{end}}
	<script type='text/javascript'>
	$(document).ready(function() { 
		$('input[name=userID]').change(function(){
			$('form').submit();
		});
	});
	</script>
{{end}}