{{template "base" .}}

{{define "title"}}Battleship - Sign Up{{end}}

{{define "main"}}
	{{with .Form}}
	<div>
		<label>Screen Name</label>
		{{with .Errors.Get "screenName"}}
			<label class='error'>{{.}}</label>
		{{end}}
		<input type=text size=16 value='{{.ScreenName}}'>
	</div>
	<div>
		<label>E-mail Address</label>
		{{with .Errors.Get "emailAddress"}}
			<label class='error'>{{.}}</label>
		{{end}}
		<input type=text size=32 value='{{.EmailAddress}}'>
	</div>
	<div>
		<label>Password</label>
		{{with .Errors.Get "password"}}
			<label class='error'>{{.}}</label>
		{{end}}
		<input type=text size=32 value=''>
	</div>
	{{end}}
{{end}}