{{template "base" .}}

{{define "title"}}New Account{{end}}

{{define "main"}}
<form action='/signup' method='POST'>
	<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
	{{with .Form}}
	<div>
		<label><br/>Screen Name</label>
		{{with .Errors.Get "screenName"}}
			<label class='error'>{{.}}</label>
		{{end}}
		<input type=text size=32 name=screenName maxlength=32 value='{{.Get "screenName"}}'>
		<label><br/>Password (requirement: 8-32 characters)</label>
		{{with .Errors.Get "password"}}
			<label class='error'>{{.}}</label>
		{{end}}
		<input type=password size=32 name=password maxlength=32 value=''>
		<label><br/>Password Confirmation</label>
		{{with .Errors.Get "password"}}
			<label class='error'></label>
		{{end}}
		<input type=password size=32 name=passwordConf maxlength=32 value=''>
		<input type=submit name="Add Player" value="Sign me up!">
	</div>
	{{end}}
</form>
{{end}}