{{template "base" .}}

{{define "title"}}Create a New Account{{end}}

{{define "main"}}
<form action='/signup' method='POST'>
	{{with .Form}}
	<div>
		<label><br/>Screen Name</label>
		{{with .Errors.Get "screenName"}}
			<label class='error'>{{.}}</label>
		{{end}}
		<input type=text size=32 name=screenName maxlength=32 value='{{.Get "screenName"}}'>
		<label><br/>E-mail Address</label>
		{{with .Errors.Get "emailAddress"}}
			<label class='error'>{{.}}</label>
		{{end}}
		<input type=text size=52 name=emailAddress maxlength=52 value='{{.Get "emailAddress"}}'>
		<label><br/>Password (max length 32)</label>
		{{with .Errors.Get "password"}}
			<label class='error'>{{.}}</label>
		{{end}}
		<input type=password size=32 name=password maxlength=32 value=''>
		<label><br/>Password Confirmation</label>
		{{with .Errors.Get "passwordConf"}}
			<label class='error'>{{.}}</label>
		{{end}}
		<input type=password size=32 name=passwordConf maxlength=32 value=''>
		<input type=submit name="Add Player">
	</div>
	{{end}}
</form>
{{end}}